# Pengenalan python

In [2]:
print("halo")
print(123)

halo
123

## Variable
tempat untuk nyimpan data
- menggunakan A-Z, a-z, 0-9, _
- ga bisa dimulai dengan angka
- ga bisa pake special character

## Tipe data python
- integer --> bilangan bulat
- floats --> bilangan desimal atau bilangan koma
- string --> huruf/karakter
- boolean --> true or false
- list --> array
- tuple --> sejenis array tapi immutable
- dictionary --> list dengan kata kunci

### integers

In [5]:
1

1

In [3]:
type(12)

int

In [4]:
print(type(12))

<class 'int'>

### floats

In [ ]:
10.5

10.5

In [ ]:
type(10.5)

float

In [ ]:
15.8
type(15.8)

float

In [ ]:
print(15.8)
print(type(15.8))

15.8
<class 'float'>

In [ ]:
0.2 == .2

True

In [ ]:
0.555
.5555

In [6]:
5e2 # e berarti eksponen

500.0

In [ ]:
5e-2

0.05

### string

In [10]:
k # error karena dianggap sebagai variabel

NameError: name 'k' is not defined

In [8]:
""
''
# string harus berada dalam tanda kutip

''

In [ ]:
"kasur"

'kasur'

In [11]:
'hello dunia'

'hello dunia'

In [15]:
'kasur"
"kasur'
# penulisan yang salah

SyntaxError: EOL while scanning string literal (2206749356.py, line 1)

In [16]:
"I'm going to school"

"I'm going to school"

In [19]:
'I'm going to school'
# kutip diakhir dideteksi sebagai kutip pembuka tanpa penutup

SyntaxError: invalid syntax (3636521187.py, line 1)

In [21]:
'I\'am going to school' 
# cara mengatasinya adalah dengan menambahakan "\" sehingga karakter setelah "\" akan dianggap sebagai bagian dari string yang harus dicetak

"I'am going to school"

In [22]:
"I'm going to the movies" # atau dengan jenis kutip yang berbeda

"I'm going to the movies"

In [23]:
"Budi berkata, "halo, apa kabar?"" # penulisan yang salah

SyntaxError: invalid syntax (4267479100.py, line 1)

In [24]:
'Budi berkata, "halo, apa kabar?"' # solusi

'Budi berkata, "halo, apa kabar?"'

In [ ]:
type("hello world")

str

In [ ]:
print(type("hello world"))

<class 'str'>

### bool

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [27]:
true #awalan harus huruf besar

NameError: name 'true' is not defined

In [ ]:
false

NameError: name 'false' is not defined

In [29]:
x = 500

In [30]:
print(x)

500

In [31]:
x == "x" # False, karena berbeda tipe dan nilai

False

In [32]:
print("x")

x

In [34]:
x != 500

False

In [35]:
5x = 500 # "5x" dianggap sebagai variabel dengan penulisan yang salah karena diawali dengan angka

SyntaxError: invalid syntax (1240257932.py, line 1)

In [36]:
x5 = 500

In [37]:
print(x5)

500

In [39]:
x-5 = 500 # error karena tidak dapat meletakkan operator pada variabel

SyntaxError: cannot assign to operator (937775623.py, line 1)

In [ ]:
x_5 = 500

In [40]:
int x = 500

SyntaxError: invalid syntax (4165307028.py, line 1)

In [ ]:
x = 500
print(x)
print(type(x))

500
<class 'int'>

In [ ]:
x = "smith"
print(x)
print(type(x))

smith
<class 'str'>

5 5 5

15 15 15

In [ ]:
type(x)

int

In [ ]:
nama_1 = "adi"
Nama_1 = "budi"
naMa_1 = "charles"

print(nama_1)
print(Nama_1)
print(naMa_1)

adi
budi
charles

In [ ]:
namaMurid = "john doe"

In [ ]:
nama_murid = "john doe"

In [ ]:
BiodataMurid = class()

### Operators
```
+  : tambah
-  : kurang
/  : bagi (hasil float)
// : bagi (hasil int) pembulatan ke bawah walaupun 5.9 hasilnya tetap 5
*  : kali
** : pangkat
%  : mod (sisa pembagian)
```

In [41]:
a = b = c = 15
print(a, b, c)

x = 5
y = 5
z = 5
print(x, y, z)

15 15 15
5 5 5

In [ ]:
print(a, b)

15 15

In [ ]:
print(15 + 15)
print(a + b)
print(a - 5)

30
30
10

In [ ]:
halo = 20
print(halo + 15)

35

In [ ]:
halo = "goodbye"
print(halo + 15)
# tidak dapat menjumlahkan integer dan string

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(15 + 20.0)

35.0

In [ ]:
print(50 / 5)
print(50 // 5)
print(50 // 8)

10.0
10
6

In [ ]:
print(50 * 2)
print(50 * 2.5)

100
125.0

In [ ]:
print(2 ** 5)
print(64 ** 0.5)

32
8.0

In [ ]:
50 % 8

2

In [ ]:
(5 + 10) * 3 - 1 ** (12 - 2)

44

### Comparison
```
==  : sama dengan
!=  : tidak sama dengan
<   : kurang dari
>   : lebih dari
<=  : kurang dari sama dengan
>=  : lebih dari sama dengan
```

In [ ]:
x = 5

In [ ]:
x == 5

True

In [ ]:
x == "hello"

False

In [ ]:
x != "hello"

True

In [ ]:
x > "hello"

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
5 < 8

True

In [ ]:
0 < "a"

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
'0' < "a"

True

In [ ]:
type("ars!@#:\|{><})")

str

In [ ]:
"A" < "a"

True

In [ ]:
"a" < "h"

True

In [ ]:
print("ape" > "hotel")
print("ape" < "hotel")

False
True

In [ ]:
print("hello" > "tv")
print("hello" < "tv")

False
True

In [ ]:
True == True

True

In [ ]:
True == False

False

In [ ]:
True != False

True

In [ ]:
False == False

True

#### String

In [ ]:
"a" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + "b"

'ab'

In [43]:
"a" * 5

'aaaaa'

In [ ]:
print("jalan section A")
print("50 + 50 = ", 50 + 50)
print("=" * 80) 
print("jalan section B")

jalan section A
50 + 50 =  100
================================================================================
jalan section B

In [42]:
print("foo" + "bar")
print("foo","bar")

foobar
foo bar

In [50]:
a = "sa"
b = "ya"
print(a + b)

saya

In [49]:
print("sa " * 5)

sa sa sa sa sa

In [52]:
"a" in "saya mau makan" # apakah 'a' ada pada kalimat 'saya mau makan'

True

In [46]:
kalimat = "saYa mAu mAKan"

In [47]:
kalimat.capitalize()

'Saya mau makan'

In [48]:
kalimat.replace("a", "x")

'sxYx mAu mAKxn'

In [ ]:
str.capitalize(kalimat)

'Saya mau makan'

In [ ]:
kalimat.upper()

'SAYA MAU MAKAN'

In [ ]:
kalimat.lower()

'saya mau makan'

In [ ]:
kalimat.swapcase()

'SAyA MaU MakAN'

In [ ]:
kalimat.title()

'Saya Mau Makan'

In [53]:
kalimat.

SyntaxError: invalid syntax (313715520.py, line 1)

### LISTS
- daftar dari apapun (str, float, int, dict, list)
- ngurut
- mutable
- bisa diakses dengan index
- [ ]

In [ ]:
a = ["apel", "pisang", "durian", "jeruk", "semangka", "salak"]
b = ["mobil", "motor", "angkot", "bus"]

print(a)
print(b)

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']
['mobil', 'motor', 'angkot', 'bus']

In [ ]:
c = ['apel', 45, True, ["merah", "biru", "hijau"]]

In [ ]:
print(c[0])
print(c[1])
print(c[2])
print(c[3])

apel
45
True
['merah', 'biru', 'hijau']

In [ ]:
a == b

False

In [ ]:
a[2]

'durian'

In [ ]:
0 1 2 3 4

In [ ]:
-5 -4 -3 -2 -1 0 1 2 3 4 5

In [ ]:
a   b  c  d  e  f
0   1  2  3  4  5
-6 -5 -4 -3 -2 -1

In [ ]:
a

['apel', 'pisang', 'durian', 'jeruk']

In [ ]:
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])
print(a[0])
print(a[1])
print(a[2])
print(a[3])

apel
pisang
durian
jeruk
apel
pisang
durian
jeruk

In [ ]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [ ]:
a[0:2]
list[start (inclusive): stop(exclusive)]

['apel', 'pisang']

In [ ]:
0.2 == .2

True

In [ ]:
a[3:5]

['jeruk', 'semangka']

In [ ]:
a[0:3]

['apel', 'pisang', 'durian']

In [ ]:
a[:3]

['apel', 'pisang', 'durian']

In [ ]:
a[1:]

['pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [ ]:
a[:-1]

['apel', 'pisang', 'durian', 'jeruk', 'semangka']

In [ ]:
a[-3:]

['jeruk', 'semangka', 'salak']

In [ ]:
a[:3]

['apel', 'pisang', 'durian']

In [ ]:
a[2:-2]

['durian', 'jeruk']

In [ ]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [ ]:
a[2:5]

['durian', 'jeruk', 'semangka']

In [ ]:
a[2:-1]

['durian', 'jeruk', 'semangka']

In [ ]:
kalimat[3:-3]

'a mAu mA'

In [ ]:
kalimat

'saYa mAu mAKan'

In [ ]:
print(len(kalimat))
print(len(a))

14
6

In [ ]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [ ]:
print(len(c))

4

In [ ]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [ ]:
a[2] = "makanan"

In [ ]:
a

['apel', 'pisang', 'makanan', 'jeruk', 'semangka', 'salak']

In [ ]:
kalimat

'saYa mAu mAKan'

In [ ]:
immutable vs mutable
str vs          list

In [ ]:
kalimat[5] = "X"

TypeError: 'str' object does not support item assignment

In [ ]:
a

['apel', 'pisang', 'makanan', 'jeruk', 'semangka', 'salak']

In [ ]:
a[-2:] = [5, 8]

In [ ]:
a

['apel', 'pisang', 'makanan', 'jeruk', 5, 8]

In [ ]:
a[:3] = [2, 4]

In [ ]:
a

[2, 4, 'jeruk', 5, 8]

#### Tuples
sama dengan list, tetapi immutable

In [ ]:
buah_tup = ('apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak')

In [ ]:
buah_tup[0] = "makanan"

TypeError: 'tuple' object does not support item assignment

### dictionary
list dengan keyword

In [ ]:
buah_warna[0]

KeyError: 0

In [ ]:
x = ['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak','salak','salak','salak',    'salak', 'apel']

In [ ]:
x

['apel',
 'pisang',
 'durian',
 'jeruk',
 'semangka',
 'salak',
 'salak',
 'salak',
 'salak',
 'salak',
 'apel']

In [ ]:
buah_warna = {"apel": "merah", "pisang": "kuning", "durian": "hijau", "salak": "coklat", 0: "aneh", "darah": "merah"}

In [ ]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'aneh',
 'darah': 'merah'}

In [ ]:
buah_warna[0]

'aneh'

In [ ]:
buah_warna["apel"]

'merah'

In [ ]:
buah_warna[0] = "diganti"

In [ ]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah'}

In [ ]:
buah_warna["oli"] = "hitam"

In [ ]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah',
 'oli': 'hitam'}

In [ ]:
biodata = {"nama": "john", "umur": 51, "pasangan": "edna", "anak": ["ralph", "joe"]}

In [ ]:
biodata

{'nama': 'john', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']}

In [ ]:
biodata_list = ["john", 51, "edna", ["ralph", "joe"]]

In [ ]:
biodata_list[1]

51

In [ ]:
biodata["umur"]

51

In [ ]:
sub_list = [
    {"nama": "john", "umur": 51, "pasangan": "edna", "anak": ["ralph", "joe"]},
    {"nama": "ben", "umur": 41, "pasangan": "dina", "anak": ["ralph", "joe"]}
]

In [ ]:
sub_list

[{'nama': 'john', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']},
 {'nama': 'ben', 'umur': 41, 'pasangan': 'dina', 'anak': ['ralph', 'joe']}]

In [ ]:
sub_list

[{'nama': 'john', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']},
 {'nama': 'ben', 'umur': 41, 'pasangan': 'dina', 'anak': ['ralph', 'joe']}]

In [ ]:
sub_list[1]["umur"]

41

In [ ]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [280]:
c[3]

'biru'

In [275]:
z = c[3]

In [276]:
z

['merah', 'biru', 'hijau']

In [277]:
z[1]

'biru'

In [279]:
c[3][1]

'biru'

In [278]:
z == c[3]

True

### panjang line

In [ ]:
x = 5 + 10 \
    * 20
print(x)

205